{% extends 'mag/base.html' %} {% load static %}

{% block content %}

        <!-- *** END OF /. PAGE HEADER SECTION *** -->
        <!-- *** START PAGE MAIN CONTENT *** -->
        <main class="page_main_wrapper">
            <!-- START PAGE HEADER --> 
            <section class="inner-head bg-img" data-image-src="/static/images/about-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="entry-title">À Propos de nous </h2>
                            <p class="description">
                                <p>Kimi sarl :"C’est dans la Question que se trouvent les Solutions"</p>.
                            </p>
                            <div class="breadcrumb">
                                <ul class="clearfix">
                                    <li class="ib"><a href="{% url 'mag:index' %}">Accueil</a></li>
                                    <li class="ib current-page">À propos </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END OF /. PAGE HEADER --> 
            <div class="team about-content">
                <div class="container">
                    <div class="about-title">
                        <h1>Qui sommes nous?</h1>
                        <h3>Présentation</h3>

                        <p>Nous sommes ravis de vous accueillir
                            chez KIMI Sarl, votre partenaire en
                            informatique, offrant des solutions fiables
                            et innovantes. En cette nouvelle année,
                            nous tenons à vous présenter brièvement
                            notre entreprise, ainsi que les services et
                            produits que nous proposons.Chez KIMI Sarl, notre priorité est de ré-
                            pondre à vos besoins en matière d’informatique en fournissant des solutions hautement performantes et adaptées à votre
                            entreprise. Forts de notre expertise et de
                            notre expérience, nous mettons tout en
                            œuvre pour vous offrir des services de
                            qualité et des produits de pointe.
                            KIMI Sarl, une entreprise fondée en 2022,
                            aspire à être un leader dans le
                            domaine des services informatiques.
                            Nous sommes enthousiastes à l’idée de
                            collaborer avec vous, que vous soyez une 
                            PME, une PMI, une ONG ou une institution gouvernementale, afin de relever ensemble les défis informatiques de l’avenir..</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Les Membres de l'équipes </h2>
                        </div>
                        <!-- end col-12 -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <figure class="member"> <img src="/assets/images/team/1.png" class="img-responsive" alt="Image">
                                <figcaption>
                                    <h4>KIMI 1</h4>
                                    <small>Rédactrice</small>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <!-- end member --> 
                        </div>
                        <!-- end col-3 -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <figure class="member"> <img src="/assets/images/team/2.png" class="img-responsive" alt="Image">
                                <figcaption>
                                    <h4>KIMI 2</h4>
                                    <small>Rédacteur</small>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <!-- end member --> 
                        </div>
                        <!-- end col-3 -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <figure class="member"> <img src="/assets/images/team/3.png" class="img-responsive" alt="Image">
                                <figcaption>
                                    <h4>kimi 3</h4>
                                    <small>édicteur</small>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <!-- end member --> 
                        </div>
                        <!-- end col-3 -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <figure class="member"> <img src="/assets/images/team/4.png" class="img-responsive" alt="Image">
                                <figcaption>
                                    <h4>KIMi 4</h4>
                                    <small>édicteur en chef</small>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <!-- end member --> 
                        </div>
                        <!-- end col-3 --> 
                    </div>
                    <!-- end row --> 

                    <div class="about-title">
                        <h2>Nos Objectifs</h2>
                        <p>Objectif 1 : Nous visons à contribuer
                            au développement de l’économie
                            numérique du Cameroun et de la
                            sous-région en nous positionnant en
                            tant que facilitateur de vie. Nous nous
                            engageons à fournir des solutions
                            numériques innovantes qui simplifient et améliorent le quotidien des
                            individus et des entreprises..</p>
                        <p>Objectif 2 : Nous cherchons à intégrer
                            le digital dans le développement
                            socio-économique, culturel, environnemental et humanitaire. Nous
                            croyons fermement que les technologies numériques peuvent apporter
                            des avantages significatifs dans tous
                            les aspects de la société..</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- *** END OF /. PAGE MAIN CONTENT *** -->
        <!-- START FOOTER -->
        {%endblock content%}
