{% extends 'mag/base.html' %}
{% block content %}
        <!-- *** END OF /. PAGE HEADER SECTION *** -->
        <!-- START PAGE TITLE --> 
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h1><strong>Contact</strong></h1>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'index' %}">Accueil</a></li>
                            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF /. PAGE TITLE --> 
        <!-- *** START PAGE MAIN CONTENT *** -->
        <main class="page_main_wrapper">
            <div class="container">
                <div class="row row-m">
                    <div class="col-sm-8 main-content col-p">
                        <div class="theiaStickySidebar">
                            <!-- START CONTACT FORM AREA -->
                            <div class="contact_form_inner">
                                <div class="panel_inner">
                                    <div class="panel_header">
                                        <h4><strong>Kimi sarl </strong>: "C’est dans la Question que se trouvent les Solutions".</h4>
                                    </div>
                                    <div class="panel_body">
                                        <p>Nous sommes ravis de vous accueillir chez KIMI Sarl, votre partenaire en informatique, offrant des solutions fiables et innovantes. 
                                            En cette nouvelle année, nous tenons à vous présenter brièvement notre entreprise, ainsi que les services et produits que nous proposons.
                                            Chez KIMI Sarl, notre priorité est de ré- pondre à vos besoins en matière d’informatique en fournissant des solutions hautement performantes
                                             et adaptées à votre entreprise. Forts de notre expertise et de notre expérience, nous mettons tout en œuvre pour vous offrir des services de 
                                             qualité et des produits de pointe. KIMI Sarl, une entreprise fondée en 2022, aspire à être un leader dans le domaine des services informatiques. 
                                             Nous sommes enthousiastes à l’idée de collaborer avec vous, que vous soyez une PME, une PMI, une ONG ou une institution gouvernementale, 
                                             afin de relever ensemble les défis informatiques de l’avenir..</p>
                                        <form class="comment-form" action="#" method="post">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="name">Nom complet</label>
                                                        <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom*">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="email">Email*</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="email" name="email" placeholder="Votre addresse mail">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="name">website</label>
                                                        <input type="phone" class="form-control" id="phone" name="phone" placeholder="votre numèro de téléphone">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="email">l'objet</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="subject" name="subject" placeholder="l'objet de vote message">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">message</label>
                                                <textarea class="form-control" id="message" name="message" placeholder="Votre message*" rows="5"></textarea>
                                            </div>
                                            <a href="#"  class="btn btn-news"> Envoyer</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- END OF CONTACT FORM AREA -->
                        </div>
                    </div>
                    <div class="col-sm-4 rightSidebar col-p">
                        <div class="theiaStickySidebar">
                            <!-- START CONTACT INFO -->
                            <div class="panel_inner">
                                <div class="panel_header">
                                    <h4><strong>Contact</strong> Info </h4>
                                </div>
                                <div class="panel_body">
                                    <address> <strong>Kimi, Sarl.</strong><br> Petit Marché Odza, Yaoundé, Cameroun .<br> <br> <abbr title="Phone">P:</abbr> (237)694 199 971</address>
                                    <address> <strong>Kimi, Sarl.</strong><br> <abbr title="Phone">Téléphone:</abbr> (237) 691 709 344/ (237) 696 401 175<br> <br></address>
                                    <address> <strong>Addresse mail</strong><br> <a href="mailto:#">kimisarlcontact@gmail.com</a> </address> 
                                </div>
                            </div>
                            <!-- END OF /. CONTACT INFO -->
                            <!-- START SOCIAL ICON -->
                            <div class="social-media-inner">
                                <ul class="social-media clearfix">
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fas fa-rss"></i>
                                            <p>Subscribers</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="fb">
                                            <i class="fab fa-facebook-f"></i>
                                            <p>Fans</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="insta">
                                            <i class="fab fa-instagram"></i>
                                            <p>Followers</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="you_tube">
                                            <i class="fab fa-youtube"></i>
                                            <p>Subscribers</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fab fa-twitter"></i>
                                            <p>Followers</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="pint">
                                            <i class="fab fa-pinterest-p"></i>
                                            <p>Followers</p>
                                        </a>
                                    </li>
                                </ul> <!-- /.social icon -->     
                            </div>
                            <!-- END OF /. SOCIAL ICON -->
                        </div>
                    </div>
                </div>   
            </main>
        {% endblock content%}
        <!-- *** END OF /. PAGE MAIN CONTENT *** -->
        <!-- START FOOTER -->
       