{% extends 'mag/base.html' %}
{% block content %}
        <!-- *** END OF /. PAGE HEADER SECTION *** -->
        <!-- START PAGE TITLE --> 
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h1><strong>Contact</strong></h1>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'index' %}">Accueil</a></li>
                            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF /. PAGE TITLE --> 
        <!-- *** START PAGE MAIN CONTENT *** -->
        <main class="page_main_wrapper">
            <div class="row row-m">
                <div class="col-sm-8 main-content col-p">
                    <div class="theiaStickySidebar">
                        <!-- START CONTACT FORM AREA -->
                        <div class="contact_form_inner">
                            <div class="panel_inner">
                                <div class="panel_header">
                                    <h2>Nous contacter</h2> 
                                    
                                </div>
                                <div class="panel_body">
                                <div class="contact-2 content-area-2">
                                    <div class="container">
                                        <div class="main-title">
                                            </div>
                                            <h4>Kimi sarl :<br>"C’est dans la Question que se trouvent les Solutions"</h4>
                                            <p><strong>We'd Love to Here</strong> Form you, Get in Touch With in Us? </p>
                                    </div>
                                        <div class="panel_body">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                                                            <i class="fa fa-map-marker"></i>
                                                            <h5>Localisation</h5>
                                                            <p>Petit Marché Odza, Yaoundé, Cameroun .</p>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                                                            <i class="fa fa-phone"></i>
                                                            <h5>Numéro de télephone </h5>
                                                            <p>+237 694 199 971 , 691 709 344, 696 401 175</p>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                                                            <i class="fa fa-envelope"></i>
                                                            <h5> Addresse mail</h5>
                                                            <p>kimisarlcontact@gmail.com</p>
                                                        </div>
                                                        {% comment %} <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                                                            <i class="fa fa-fax"></i>
                                                            <h5>Fax</h5>
                                                            <p>+55 417 634 7X71</p>
                                                        </div> {% endcomment %}
                                                    </div>
                                                </div>
                                                <form action="#" method="POST" enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-md-12">
                                                            <div class="form-section">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group name">
                                                                            <input type="text" name="name" class="form-control" placeholder="Nom">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group email">
                                                                            <input type="email" name="email" class="form-control" placeholder="Email">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group subject">
                                                                            <input type="text" name="subject" class="form-control" placeholder="Sujet">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group number">
                                                                            <input type="text" name="phone" class="form-control" placeholder="Numero">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group message">
                                                                            <textarea class="form-control" name="message" placeholder="Écrire le message"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="send-btn">
                                                                            <button type="submit" class="btn btn-4 bh-55">Envoyer</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                                            <div class="col-sm-4 rightSidebar col-p">
                                                <div class="theiaStickySidebar">
                                                    <!-- START CONTACT INFO -->
                                                    <div class="panel_inner">
                                                        <div class="panel_header">
                                                            <h3>heures d'ouvertures</h3>
                                                        </div>
                                                    <ul class="day">
                                                        <li><strong>Dimanche</strong> <span class="text-red"> Fermé</span></li>
                                                        <li><strong>Lundi</strong> <span> 8H - 18H</span></li>
                                                        <li><strong>Mardi </strong> <span> 8H - 18H</span></li>
                                                        <li><strong>Mercredi </strong> <span> 8H - 18H</span></li>
                                                        <li><strong>Jeudi </strong> <span> 8H - 18H</span></li>
                                                        <li><strong>Vendredi </strong> <span> 8H - 18H</span></li>
                                                        <li><strong>Samedi </strong> <span> 8H - 18H</span></li>
                                                    </ul>
                                                    </div>
                                                    <!-- END OF /. CONTACT INFO -->
                                                    <!-- START SOCIAL ICON -->
                                                    <div class="social-media-inner">
                                                        <ul class="social-media clearfix">
                                                            <h3>Nous suivres</h3>
                                                            <li>
                                                                <a href="#" class="rss">
                                                                    <i class="fas fa-rss"></i>
                                                                    <p>Subscribers</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="fb">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                    <p>Fans</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="insta">
                                                                    <i class="fab fa-instagram"></i>
                                                                    <p>Followers</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="you_tube">
                                                                    <i class="fab fa-youtube"></i>
                                                                    <p>Subscribers</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="twitter">
                                                                    <i class="fab fa-twitter"></i>
                                                                    <p>Followers</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="pint">
                                                                    <i class="fab fa-pinterest-p"></i>
                                                                    <p>Followers</p>
                                                                </a>
                                                            </li>
                                                        </ul> <!-- /.social icon -->     
                                                    </div>
                                                    <!-- END OF /. SOCIAL ICON -->
                                                </div>
                                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </main>
    
        {% endblock content%}
        <!-- *** END OF /. PAGE MAIN CONTENT *** -->
        <!-- START FOOTER -->
       