{% extends 'mag/base.html' %}
{% block content %}

<div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/bredcumb-1.png">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Login</h1>
        </div>
        <div class="breadcumb-menu-wrap">
            <ul class="breadcumb-menu">
                <li><a href="/">Accueil</a></li>
                <li class="active">Login</li>
            </ul>
        </div>
    </div>
</div>
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form action="/signin/" class="default-form" method="POST">
                    {% csrf_token %}
                     {% if messages %}
                    <ul class="message">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style-type: none !important; color: red;">
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h3 class="form-title">Login</h3>
                    <p class="form-text">Vous n'avez pas encore de compte ? <a href="/signup/">Inscrivez-vous ici</a></p>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 form-group">
                            <input type="email" class="form-control" name="email" placeholder="Votre Email">
                        </div>
                        <div class="col-12 form-group">
                            <input type="password" class="form-control"  name="password" placeholder="Votre mot de passe">
                        </div>

<!--                            <div class="col-sm-auto form-group">-->
<!--                                <p class="form-link"><a href="#">Forget password?</a></p>-->
<!--                            </div>-->
                        <div class="col-12 form-group"><button type="submit" class="vs-btn style4">Log In</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content%}