{% extends 'base.html' %}
{% block content %}
        <!-- *** START PAGE MAIN CONTENT *** -->
        <main class="page_main_wrapper">
            <!-- START PAGE TITLE --> 
            <div class="page-title">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ol class="breadcrumb">
                                <li><a href="{% url 'index' %}">Accueil</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF /. PAGE TITLE --> 
            <div class="container">
                <div class="row row-m">
                    <!-- START MAIN CONTENT -->
                    <div class="col-sm-8 col-p  main-content">
                        <div class="theiaStickySidebar">
                            <div class="post_details_inner">
                                <div class="post_details_block">
                                    <figure class="social-icon">
                                        <img src="{{ object.main_image.url }}" class="img-responsive" alt=""/>
                                        <div>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#" class="hidden-xs"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#" class="hidden-xs"><i class="fab fa-pinterest-p"></i></a>
                                        </div>			
                                    </figure>
                                    <h2 class="fw-bold">{{ object.title }}</h2>
                                    <ul class="authar-info">
                                        <li><a href="#" class="link">posté par {{object.author.name}}</a></li>
                                        <li><a href="#" class="link">{{object.likes}} likes </a></li>
                                        <li><a href="#" class="link">{{object.likes}} vues</a></li>
                                    </ul>
                                    <p></p>
                                    <figure class="align-left">
                                        <img src="{{ object.thumbnails.url }}" alt="" width="300" height="362">
                                    </figure> 

                                    <div>
                                        {{ object.content|safe }}
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-md-6 col-12 mx-md-auto mx-3">
                                            {% if object.likes.count == 1 %}
                                                <p>{{ object.likes.count }} personnes ont aimées ce postes</p>
                                            {% else %}
                                                <p>{{ object.likes.count }} personne a aimé ce poste</p>
                                            {% endif %}
                                    
                                            {% comment %} {% if request.user.is_authenticated %}
                                                {% if liked_by_user %}
                                                    <form method="POST" action="{% url 'like_article' object.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-primary"><ion-icon name="heart-dislike-outline"></ion-icon> Unlike ce poste</button>
                                                    </form>
                                                {% else %}
                                                    <form method="POST" action="{% url 'like_article' object.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-primary"><ion-icon name="heart-outline"></ion-icon> Like ce poste</button>
                                                    </form>
                                                {% endif %} {% endcomment %}
                                            {% else %}
                                                <button class="btn btn-outline-primary" disabled><ion-icon name="heart-outline"></ion-icon> Se connecter pour liker</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Post footer -->
                                <div class="post-footer"> 
                                    <div class="row thm-margin">
                                        <div class="col-xs-12 col-sm-12 col-md-12 thm-padding">
                                            <!-- pagination -->
                                            {% comment %} <ul class="pagination">
                                                <li class="disabled"><span class="ti-angle-left"></span></li>
                                                <li class="active"><span>1</span></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li class="disabled"><span class="extend">...</span></li><li>
                                                </li><li><a href="#">12</a></li>
                                                <li><a href="#"><i class="ti-angle-right"></i></a></li>
                                            </ul> <!-- /.pagination --> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                        <!-- START RELATED ARTICLES -->
                        <div class="post-inner post-inner-2">
                            <!--post header-->
                            <div class="post-head">
                                <h2 class="title">Articles <strong>connexes </strong></h2>
                            </div>
                            <!-- post body -->
                            <div class="post-body">
                                <div class="post-slider owl-carousel owl-theme">
                                    <!-- item one -->
                                    <div class="item">
                                        <div class="news-grid-2">
                                            <div class="row row-margin">
                                                <div class="col-xs-6 col-sm-4 col-md-4 col-padding">
                                                    <div class="grid-item">
                                                        <div class="grid-item-img">
                                                            <a href="#">
                                                                <img src="assets/images/218x150-1.jpg" class="img-responsive" alt="">
                                                                <div class="link-icon"><i class="fa fa-play"></i></div>
                                                            </a>
                                                        </div>
                                                        <h5><a href="#" class="title">Lorem Ipsum is simply dummy text of the printing.</a></h5>
                                                        <ul class="authar-info">
                                                            <li>May 15, 2016</li>
                                                            <li class="hidden-sm"><a href="#" class="link">15 likes</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item two -->
                                    <div class="item">
                                        <div class="news-grid-2">
                                            <div class="row row-margin">
                                                <div class="col-xs-6 col-sm-4 col-md-4 col-padding">
                                                    <div class="grid-item">
                                                        <div class="grid-item-img">
                                                            <a href="#">
                                                                <img src="assets/images/218x150-4.jpg" class="img-responsive" alt="">
                                                                <div class="link-icon"><i class="fa fa-play"></i></div>
                                                            </a>
                                                        </div>
                                                        <h5><a href="#" class="title">Lorem Ipsum is simply dummy text of the printing.</a></h5>
                                                        <ul class="authar-info">
                                                            <li>May 15, 2016</li>
                                                            <li class="hidden-sm"><a href="#" class="link">15 likes</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- END OF /. RELATED ARTICLES -->
                        <!-- START COMMENT -->
                        <div class="comments-container">
                            <h3>Comments (3)</h3>
                            <ul class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img src="assets/images/avatar-1.jpg" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-content">
                                                <div class="comment-header"> <cite class="comment-author">- Mozammel Hoque</cite>
                                                    <time datetime="2012-10-27" class="comment-datetime">25 October 2016 at 12.27 pm</time>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</p>
                                                <a href="#"  class="btn btn-news"> Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="comments-list reply-list">
                                        <li>
                                            <!-- Avatar -->
                                            <div class="comment-avatar"><img src="assets/images/avatar-1.jpg" alt=""></div>
                                            <div class="comment-box">
                                                <div class="comment-content">
                                                    <div class="comment-header"> <cite class="comment-author">- Tahmina Akthr</cite>
                                                        <time datetime="2012-10-27" class="comment-datetime">25 October 2016 at 12.27 pm</time>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</p>
                                                    <a href="#"  class="btn btn-news"> Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- Avatar -->
                                            <div class="comment-avatar"><img src="assets/images/avatar-1.jpg" alt=""></div>
                                            <div class="comment-box">
                                                <div class="comment-content">
                                                    <div class="comment-header"> <cite class="comment-author">- Mozammel Hoque</cite>
                                                        <time datetime="2012-10-27" class="comment-datetime">25 October 2016 at 12.27 pm</time>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</p>
                                                    <a href="#"  class="btn btn-news"> Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img src="assets/images/avatar-1.jpg" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-content">
                                                <div class="comment-header"> <cite class="comment-author">- Tahmina Akthr</cite>
                                                    <time datetime="2012-10-27" class="comment-datetime">25 October 2016 at 12.27 pm</time>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</p>
                                                <a href="#"  class="btn btn-news"> Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END OF /. COMMENT -->
                        <!-- START COMMENTS FORMS -->
                        <h2>Ajouter un commentaire :</h2>
                        <form method="post" action="{% url 'add_comment' post.pk %}">
                        {% csrf_token %}
                        <textarea name="content" rows="4" cols="50"></textarea><br>
                        <input type="submit" value="Ajouter le commentaire">
                        </form>
                        <!-- END OF /. COMMENTS FORMS -->
                    </div>
                    </div>
                    <!-- END OF /. MAIN CONTENT -->
                    <!-- START SIDE CONTENT -->
                    <!-- END OF /. SIDE CONTENT -->
                </div>
            </div>
        </main>
        <!-- *** END OF /. PAGE MAIN CONTENT *** -->
        <!-- START FOOTER -->
{% endblock content %}