{% extends 'mag/base.html' %}
{% block content %}
        <!-- *** START PAGE MAIN CONTENT *** -->
        <main class="page_main_wrapper">
            <!-- START PAGE TITLE --> 
            <div class="page-title">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ol class="breadcrumb">
                                <li><a href="{% url 'mag:index' %}">Accueil</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF /. PAGE TITLE --> 
            <div class="container">
                <div class="row row-m">
                    <!-- START MAIN CONTENT -->
                    <div class="col-sm-8 col-p  main-content">
                        <div class="theiaStickySidebar">
                            <div class="post_details_inner">
                                <div class="post_details_block">
                                    <figure class="social-icon">
                                        <img src="{{ object.main_image.url }}" class="img-responsive" alt="{{ object.title }}"/>
                                        <div>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#" class="hidden-xs"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#" class="hidden-xs"><i class="fab fa-pinterest-p"></i></a>
                                        </div>			
                                    </figure>
                                    <h2 class="fw-bold">{{ object.title }}</h2>
                                    <ul class="authar-info">
                                        <li><a href="#" class="link">posté par {{object.Author.name}}</a></li>
                                        <li><a href="#" class="link">{{object.likes}} likes </a></li>
                                        <li><a href="#" class="link">{{object.likes}} vues</a></li>
                                    </ul>
                                    <p></p>
                                    <figure class="align-left">
                                        <img src="{{ object.thumbnails.url }}" alt="" width="300" height="362">
                                    </figure> 

                                    <div>
                                        <p>
                                        {{ object.content|safe }}
                                        </p>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-md-6 col-12 mx-md-auto mx-3">
                                            <!-- Inside your post_details.html template -->
                                                <button id="likeButton" data-post-id="{{ post.pk }}" {% if request.user in post.likes.all %} class="liked" {% endif %}>
                                                    {% if request.user in post.likes.all %}
                                                        Unlike
                                                    {% else %}
                                                        Like
                                                    {% endif %}
                                                </button>

                                                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                                <script>
                                                    $(document).ready(function() {
                                                        $('#likeButton').click(function(e) {
                                                            e.preventDefault();
                                                            var postID = $(this).data('post-id');
                                                            var url = "/like_post/" + postID + "/";
                                                            $.post(url, function(response) {
                                                                if (response.liked) {
                                                                    $('#likeButton').addClass('liked').html('Unlike');
                                                                } else {
                                                                    $('#likeButton').removeClass('liked').html('Like');
                                                                }
                                                                $('#totalLikes').html(response.total_likes);
                                                            });
                                                        });
                                                    });
                                                </script>

                                            {% if object.likes.count == 1 %}
                                                <p>{{ object.likes.count }} personnes ont aimées ce postes</p>
                                            {% else %}
                                                <p>{{ object.likes.count }} personne a aimé ce poste</p>
                                            {% endif %}
                                    
                                            {% comment %} {% if request.user.is_authenticated %}
                                                {% if liked_by_user %}
                                                    <form method="POST" action="{% url 'like_article' object.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-primary"><ion-icon name="heart-dislike-outline"></ion-icon> Unlike ce poste</button>
                                                    </form>
                                                {% else %}
                                                    <form method="POST" action="{% url 'like_article' object.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-primary"><ion-icon name="heart-outline"></ion-icon> Like ce poste</button>
                                                    </form>
                                                {% endif %} {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Post footer -->
                                <div class="post-footer"> 
                                    <div class="row thm-margin">
                                        <div class="col-xs-12 col-sm-12 col-md-12 thm-padding">
                                            <!-- pagination -->
                                            {% comment %} <ul class="pagination">
                                                <li class="disabled"><span class="ti-angle-left"></span></li>
                                                <li class="active"><span>1</span></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li class="disabled"><span class="extend">...</span></li><li>
                                                </li><li><a href="#">12</a></li>
                                                <li><a href="#"><i class="ti-angle-right"></i></a></li>
                                            </ul> <!-- /.pagination --> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                        <!-- START RELATED ARTICLES -->
                        <div class="post-inner post-inner-2">
                            <!--post header-->
                            <div class="post-head">
                                <h2 class="title">Articles <strong>connexes </strong></h2>
                            </div>
                            <!-- post body -->
                            <div class="post-body">
                                <div class="post-slider owl-carousel owl-theme">
                                    <!-- item one -->
                                    <div class="item">
                                        <div class="news-grid-2">
                                            <div class="row row-margin">
                                                {% for related_post in related_posts %}
                                                <div class="col-xs-6 col-sm-4 col-md-4 col-padding">
                                                    <div class="grid-item">
                                                        <div class="grid-item-img">
                                                            <a href="{% url 'post_detail' pk=related_post.pk %}">
                                                                <img src="{{ related_post.thumbnail.url }}" class="img-responsive" alt="{{ related_post.title }}">
                                                                <div class="link-icon"><i class="fa fa-play"></i></div>
                                                            </a>
                                                        </div>
                                                        <h5><a href="{% url 'post_detail' pk=related_post.pk %}" class="title">{{ related_post.title }}.</a></h5>
                                                        <ul class="authar-info">
                                                            <li>{{ related_post.body|truncatechars:50}}</li>
                                                            <li>{{ related_post.pub_date }}</li>
                                                            <li class="hidden-sm"><a href="#" class="link">{{ related_post.likes }} likes</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- END OF /. RELATED ARTICLES -->
                        <!-- START COMMENT -->
                        <div class="comments-container">
                            {% if comments %}
                            <h3>Commentaires ({{ num_comments }})</h3>
                            <ul class="comments-list">
                                {% for comment in comments %}
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img src="assets/images/avatar-1.jpg" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-content">
                                                <div class="comment-header"> <cite class="comment-author">{{ comment.author }}</cite>
                                                    <time datetime="2012-10-27" class="comment-datetime">{{ comment.created_at }}</time>
                                                </div>
                                                <p>{{ comment.content }}</p>
                                                <a href="#"  class="btn btn-news"> Commentez</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                {% else %}
                                <li>
                                <p>Pas encore de commentaires Disponible.</p>
                            </li>
                            {% endif %}
                            </ul>
                        </div>
                        <!-- END OF /. COMMENT -->
                        <!-- START COMMENTS FORMS -->
                        <h2>Ajouter un commentaire :</h2>
                        <form method="post" action="{% url 'mag:post_detail' post.pk %}">
                        {% csrf_token %}
                        <textarea name="content" rows="4" cols="50"></textarea><br>
                        <input type="submit" value="Ajouter le commentaire">
                        </form>
                        <!-- END OF /. COMMENTS FORMS -->
                    </div>
                    </div>
                    <!-- END OF /. MAIN CONTENT -->
                    <!-- START SIDE CONTENT -->
                    <!-- END OF /. SIDE CONTENT -->
                </div>
            </div>
        </main>
        <!-- *** END OF /. PAGE MAIN CONTENT *** -->
        <!-- START FOOTER -->
{% endblock content %}