{% extends 'mag/basesign.html' %}
{% block content %}
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h1><strong>Inscription</strong></h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li class="active"><a href="{% url 'signup' %}">S'inscrire</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- END 
<!-- *** START PAGE MAIN CONTENT *** -->
<main class="page_main_wrapper">
    <div class="container">
        <div class="row row-m">
            <div class="col-sm-8 main-content col-p">
                <div class="theiaStickySidebar">
                    <!-- START CONTACT FORM AREA -->
                    <div class="contact_form_inner">
                        <div class="panel_inner">
                            <div class="panel_header">
                                <h4><strong>Formulaire d'inscription</strong></h4>
                            </div>
                            <div class="panel_body">
                                <style>
                                    form {
                                      margin: 0 auto;
                                      width: 300px;
                                    }
                                </style>
                                <form action="/signup/" class="default-form" method="POST">
                                    {% csrf_token %}
                                    {% if messages %}
                                    <ul class="message">
                                        {% for message in messages %}
                                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style-type: none !important; color: red;">
                                            {{ message }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                        <div class="content">
                                            <p class="form-text">Vous avez déjà un compte ? <a href="login.html">Connectez-vous</a></p>
                                            <div class="row justify-content-between align-items-center">
                                                <div class="col-12 form-group">
                                                Nom : {{ user_creation_form.last_name }}
                                                    {{ user_creation_form.last_name_errors }}
                                                </div>
                                                <div class="col-12 form-group">
                                                Prénom : {{ user_creation_form.first_name }}
                                                    {{ user_creation_form.first_name_errors }}
                                                    </div>
                                                
                                                <div class="col-12 form-group">
                                                Genre : {{ utilisateurform.genre }}
                                                    {{ utilisateurform.genre.errors }}
                                                </div>
                                                <div class="col-12 form-group">
                                                Email : {{ user_creation_form.email }}
                                                    {{ user_creation_form.email.errors }}
                                                </div>
                                                <div class="col-12 form-group">
                                                    Telephone :{{utilisateurform.mobile}}
                                                    {{utilisateurform.mobile.errors}}
                                                </div>
                                                <div class="col-12 form-group">
                                                Mot de passse : {{ user_creation_form.password1 }}
                                                    {{ user_creation_form.password1.errors }}
                                                </div>
                                                <div class="col-12 form-group">
                                                Confirmer Mot de passe : {{ user_creation_form.password2 }}
                                                    {{ user_creation_form.password2.errors }}
                                                </div>
                                                <div class="col-12 form-group">
                                                Ville : {{ utilisateurform.ville }}
                                                    {{ utilisateurform.ville.errors }}
                                                </div>



                                                <div class="col-sm-auto form-group">
                                                    <div class="custom-checkbox"><input type="checkbox" id="remembermylogin"> <label for="remembermylogin"><a href="/terms_of_use/">Acceptez les conditions et la politique de confidentialité</a></label></div>
                                                </div>
                                                <div class="col-12 form-group"><button type="submit" class="btn btn-primary">Connexion</button></div>
                                                <div class="mt-5 text-center">
                                                    <p class="mb-0">Vous avez déjà un compte ? <a href="/signin/" class="fw-semibold text-primary text-decoration-underline"> Connexion</a> </p>
                                                </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF CONTACT FORM AREA -->
                </div>
            </div>
    </div>
</main>
<!-- *** END OF /. PAGE MAIN CONTENT *** -->
<!-- START FOOTER -->
{% comment %} 
<div class="breadcumb-wrapper" data-bg-src="/static/assets/img/breadcumb/bredcumb-1.png">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Inscription</h1>
        </div>
    </div>
</div>
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form action="/signup/" class="default-form" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="message">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style-type: none !important; color: red;">
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="form-text">Avez-vous déjà un compte ? <a href="login.html">Connectez-vous</a></p>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 form-group">
<!--                                <input type="text" class="form-control" placeholder="Votre Nom">-->
                          Nom : {{ user_creation_form.last_name }}
                            {{ user_creation_form.last_name_errors }}
                        </div>
                        <div class="col-12 form-group">
                            <!--<input type="text" class="form-control" placeholder="Votre Nom">-->
                        Prénom : {{ user_creation_form.first_name }}
                            {{ user_creation_form.first_name_errors }}
                            </div>
                        
                        <div class="col-12 form-group">
<!--                                <input type="text" class="form-control" placeholder="Username">-->
                           Genre : {{ utilisateurform.genre }}
                            {{ utilisateurform.genre.errors }}
                        </div>
                        <div class="col-12 form-group">
<!--                                <input type="email" class="form-control" placeholder="Your Email">-->
                           Email : {{ user_creation_form.email }}
                            {{ user_creation_form.email.errors }}
                        </div>
                        <div class="col-12 form-group">
<!--                                <input type="password" class="form-control" placeholder="Password">-->
                            Telephone :{{utilisateurform.mobile}}
                            {{utilisateurform.mobile.errors}}
                        </div>
                        <div class="col-12 form-group">
<!--                                <input type="password" class="form-control" placeholder="Password">-->
                           Mot de passse : {{ user_creation_form.password1 }}
                            {{ user_creation_form.password1.errors }}
                        </div>
                        <div class="col-12 form-group">
<!--                                <input type="password" class="form-control" placeholder="Password">-->
                           Confirmer Mot de passe : {{ user_creation_form.password2 }}
                            {{ user_creation_form.password2.errors }}
                        </div>
                        <div class="col-12 form-group">
<!--                                <input type="password" class="form-control" placeholder="Password">-->
                           Ville : {{ utilisateurform.ville }}
                            {{ utilisateurform.ville.errors }}
                        </div>



                        <div class="col-sm-auto form-group">
                            <div class="custom-checkbox"><input type="checkbox" id="remembermylogin"> <label for="remembermylogin">Acceptez les conditions et <a href="/terms_of_use.html">la politique de confidentialité</a></label></div>
                        </div>
                        <div class="col-12 form-group"><button type="submit" class="vs-btn style4">Connexion</button></div>
                        <div class="mt-5 text-center">
                            <p class="mb-0">Vous avez déjà un compte ? <a href="/signin/" class="fw-semibold text-primary text-decoration-underline"> Connexion</a> </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
 {% endcomment %}
{% endblock content%}