{% extends 'mag/base.html' %} {% load static %}

{% block content %}
<main class="page_main_wrapper">
    <div class="container">
        <div class="row row-m">
            <div class="col-sm-8 main-content col-p">
                <div class="theiaStickySidebar">
                    <!-- START CONTACT FORM AREA -->
                    <div class="contact_form_inner">
                        <div class="panel_inner">
                            <div class="panel_header">
                            <section>
                                <h2><strong>Conditions d'utilisation</strong></h2>


                                <h3>**Termes et conditions**</h3>
                                    <h4>Bienvenue sur le site web du magazine de sport [Nom du Magazine] !</h4>

                                    <p>En utilisant ce site web, vous acceptez de vous conformer à ces termes et conditions. Veuillez les lire attentivement avant d'utiliser notre site.</p>

                                    <h4>1. **Acceptation des termes**</h4>
                                    <p>En accédant à ce site web, vous acceptez d'être lié par ces termes et conditions d'utilisation, toutes les lois et réglementations applicables, et acceptez que vous êtes responsable du respect des lois locales applicables. Si vous n'acceptez pas ces termes, vous n'êtes pas autorisé à utiliser ou accéder à ce site.</p>

                                    <h4>2. **Utilisation du contenu**</h4>
                                    <p>Le contenu de ce site web est fourni à titre informatif uniquement. Bien que nous nous efforcions de maintenir les informations à jour et exactes, nous ne faisons aucune déclaration ni garantie d'aucune sorte, expresse ou implicite, concernant l'exhaustivité, l'exactitude, la fiabilité, la pertinence ou la disponibilité du contenu du site.</p>

                                    <h4>3. **Propriété intellectuelle**</h4>
                                    <p>Tout le contenu présent sur ce site, y compris, mais sans s'y limiter, le texte, les graphiques, les logos, les boutons d'icône, les images, les clips audio, les clips vidéo, les téléchargements numériques, les compilations de données et les logiciels, est la propriété de [Nom du Magazine] ou de ses fournisseurs de contenu et est protégé par les lois sur les droits d'auteur internationales.</p>

                                    <h4>4. **Liens vers d'autres sites web**</h4>
                                    <p>Notre site web peut contenir des liens vers des sites tiers ou des ressources. Ces liens sont fournis à titre pratique uniquement et ne signifient pas que nous approuvons le contenu de ces sites. Nous ne sommes pas responsables de l'examen ou de l'évaluation du contenu ou de l'exactitude des sites tiers, et nous n'assumons aucune responsabilité pour tout contenu, site web, produit ou service tiers.</p>

                                    <h4>5. **Modifications des termes et conditions**</h4>
                                    <p>Nous nous réservons le droit de modifier ces termes et conditions à tout moment sans préavis. En continuant à utiliser ce site web après la publication des modifications, vous acceptez d'être lié par ces modifications.</p>

                                    <p>En utilisant ce site web, vous acceptez d'être lié par ces termes et conditions. Si vous n'acceptez pas ces termes et conditions, veuillez ne pas utiliser notre site.</p>

                                    <p>Si vous avez des questions ou des préoccupations concernant ces termes et conditions, veuillez nous contacter à l'adresse [adresse e-mail].</p>

                                    <p>Merci d'utiliser [Nom du Magazine] !</p>
                            </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}